@{
    Layout = null;
}

<div class="head">
    <ul class="user-auth-menu">
        @if (Session["FullName"] != null)
        {
            <li class="logged-in-info">
                <span>Xin chào, @Session["FullName"]!</span>
                <a href="@Url.Action("Logout", "Account")">Đăng xuất</a>
            </li>
        }
        else
        {
            <li>@Html.ActionLink("Đăng ký", "Register", "Account")</li>
            <li>@Html.ActionLink("Đăng nhập", "Login", "Account")</li>
        }
    </ul>

    <header>
        <div class="menu" style="display: flex; justify-content: center; align-items: center; text-align: center; padding-left: 150px; padding-right: 150px;">
            <nav>
                <ul class="sf-menu" style="display: flex; justify-content: center; align-items: center; list-style: none; padding: 0; margin: 0;">
                    <li style="margin: 0 10px 0 100px; display: flex; align-items: center; height: 50px;">
                        <a href="@Url.Action("Index", "Home")" style="font-size: 16px; white-space: nowrap;">HOME</a>
                    </li>
                    <li style="margin: 0 10px; display: flex; align-items: center; height: 50px;">
                        <a href="@Url.Action("Index", "DichVu")" style="font-size: 16px; white-space: nowrap;">Dịch vụ</a>
                    </li>
                    <li style="margin: 0 10px; display: flex; align-items: center; height: 50px;">
                        <a href="@Url.Action("Index", "Index3")" style="font-size: 16px; white-space: nowrap;">Đặt câu hỏi</a>
                    </li>
                    <li style="margin: 0 10px; display: flex; align-items: center; height: 50px;">
                        <a href="@Url.Action("Index", "Index5")" style="font-size: 16px; white-space: nowrap;">Liên hệ</a>
                    </li>
                </ul>
                <div class="clear"></div>
            </nav>
            <div class="clear"></div>
        </div>



        <div class="logo">
            <h1>
                <a href="@Url.Action("Index", "Home")"></a>
            </h1>
        </div>
        <div class="box-slider">
            <ul class="roundabout">
                <li><a href="#"><img alt="" src="~/images/slide-3.png" /></a></li>
                <li><a href="#"><img alt="" src="~/images/slide-2.png" /></a></li>
                <li><a href="#"><img alt="" src="~/images/slide-4.png" /></a></li>
                <li><a href="#"><img alt="" src="~/images/slide.png" /></a></li>
                <li><a href="#"><img alt="" src="~/images/slide-1.png" /></a></li>
                <li><a href="#"><img alt="" src="~/images/slide-6.png" /></a></li>
                <li><a href="#"><img alt="" src="~/images/slide-5.png" /></a></li>
            </ul>
            <a href="#" class="prev"></a>
            <a href="#" class="next"></a>
            <div class="clear"></div>
        </div>
    </header>
</div>
